:host {
  color: white;
  display: grid;
  overflow: auto;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;

  grid-template-areas: "move-speed" "sensitivity" "controls" "save";

  .setting-item {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(1) {
      grid-area: move-speed;
    }

    &:nth-child(2) {
      grid-area: sensitivity;
    }

    &:nth-child(3) {
      grid-area: controls;
    }

    ion-range {
      padding: 0;
      width: 100%;
    }

    ion-label {
      white-space: pre-wrap;
    }

  }

  .button-container {
    grid-area: save;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
      width: 40%;
    }
  }

}
