.settings {
  display: grid;
  overflow: auto;
  height: 100%;

  grid-template-rows: 1fr 1fr 2fr;
  grid-template-columns: 1fr;

  grid-template-areas: "move-speed" "sensitivity" "controls";

  .setting-item {
    padding-left: 2rem;
    padding-right: 2rem;

    &:nth-child(1) {
      padding-top: 1rem;
      grid-area: move-speed;
    }

    &:nth-child(2) {
      grid-area: sensitivity;
    }

    &:nth-child(3) {
      grid-area: controls;
      padding-bottom: 1rem;
    }

    ion-range {
      padding: 0;
      width: 100%;
    }

    ion-label {
      white-space: pre-wrap;
    }

  }

}
