<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
<!--      <ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="play">
      <!--      <ion-icon name="information-circle"></ion-icon>-->
      <ion-icon name="play"></ion-icon>
      <ion-label>Jugar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solutions">
<!--      <ion-icon name="information-circle"></ion-icon>-->
      <ion-icon name="school"></ion-icon>
      <ion-label>Soluciones</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="speedcubing">-->
<!--&lt;!&ndash;      <ion-icon name="list-box"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-icon name="jet"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-icon name="ribbon"></ion-icon>&ndash;&gt;-->
<!--      <ion-icon name="stopwatch"></ion-icon>-->
<!--      <ion-label>Speedcubing</ion-label>-->
<!--    </ion-tab-button>-->

    <ion-tab-button tab="settings">
      <ion-icon name="Settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
