section {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  ion-button {
    flex: 1 0 21%;
  }
  @media screen and (orientation: landscape) {
    ion-button {
      flex: 1 0 15%;
    }
  }
}

@mixin flip-horizontally {
  transform: scaleX(-1);
}


ion-button {
  &.counter {
    @include flip-horizontally;
  }
}
