<section>
  <ion-button size="large" color="light" [disabled]="move" (click)="onStartMove(1)">U</ion-button>
  <ion-button size="large" color="light" [disabled]="move" (click)="onStartMove(2)">U'</ion-button>
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(3)">D</ion-button>
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(4)">D'</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(5)">R</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(6)">R'</ion-button>
  <ion-button size="large" color="light" [disabled]="move" (click)="onStartMove(7)">L</ion-button>
  <ion-button size="large" color="light" [disabled]="move" (click)="onStartMove(8)">L'</ion-button>
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(9)">F</ion-button>
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(10)">F'</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(11)">B</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(12)">B'</ion-button>
<!--  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(1)">E</ion-button>-->
<!--  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(2)">E'</ion-button>-->
<!--  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(3)">M</ion-button>-->
<!--  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(4)">M'</ion-button>-->
</section>
