<section>
    <ion-button size="small" class="button-white" [disabled]="move" (click)="onStartMove(1)"></ion-button>
    <ion-button size="small" class="button-white" [disabled]="move" (click)="onStartMove(2)"></ion-button>
    <ion-button size="small" class="button-yellow" [disabled]="move" (click)="onStartMove(3)"></ion-button>
    <ion-button size="small" class="button-yellow" [disabled]="move" (click)="onStartMove(4)"></ion-button>
    <ion-button size="small" class="button-blue" [disabled]="move" (click)="onStartMove(5)"></ion-button>
    <ion-button size="small" class="button-blue" [disabled]="move" (click)="onStartMove(6)"></ion-button>
    <ion-button size="small" class="button-green" [disabled]="move" (click)="onStartMove(7)"></ion-button>
    <ion-button size="small" class="button-green" [disabled]="move" (click)="onStartMove(8)"></ion-button>
    <ion-button size="small" class="button-red" [disabled]="move" (click)="onStartMove(9)"></ion-button>
    <ion-button size="small" class="button-red" [disabled]="move" (click)="onStartMove(10)"></ion-button>
    <ion-button size="small" class="button-orange" [disabled]="move" (click)="onStartMove(11)"></ion-button>
    <ion-button size="small" class="button-orange" [disabled]="move" (click)="onStartMove(12)"></ion-button>
    <!--  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(1)">E</ion-button>-->
    <!--  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(2)">E'</ion-button>-->
    <!--  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(3)">M</ion-button>-->
    <!--  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(4)">M'</ion-button>-->
</section>
