<section>
<!--  <ion-button size="large" color="light" (click)="onStopMove('')">Light</ion-button>-->
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(1)">E</ion-button>
  <ion-button size="large" color="medium" [disabled]="move" (click)="onStartMove(2)">E'</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(3)">M</ion-button>
  <ion-button size="large" color="dark" [disabled]="move" (click)="onStartMove(4)">M'</ion-button>
</section>
