
.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow) !important;
  --ion-color-base-rgb: var(--ion-color-yellow-rgb) !important;
  --ion-color-contrast: var(--ion-color-yellow-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-yellow-shade) !important;
  --ion-color-tint: var(--ion-color-yellow-tint) !important;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue) !important;
  --ion-color-base-rgb: var(--ion-color-blue-rgb) !important;
  --ion-color-contrast: var(--ion-color-blue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blue-shade) !important;
  --ion-color-tint: var(--ion-color-blue-tint) !important;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green) !important;
  --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-green-shade) !important;
  --ion-color-tint: var(--ion-color-green-tint) !important;
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red) !important;
  --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-red-shade) !important;
  --ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}
