// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import "buttons";

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #D79922;
  --ion-color-primary-rgb: 215,153,34;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #bd871e;
  --ion-color-primary-tint: #dba338;

  --ion-color-secondary: #EFE2BA;
  --ion-color-secondary-rgb: 239,226,186;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d2c7a4;
  --ion-color-secondary-tint: #f1e5c1;

  --ion-color-tertiary: #F13C20;
  --ion-color-tertiary-rgb: 241,60,32;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d4351c;
  --ion-color-tertiary-tint: #f25036;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #5056A1;
  --ion-color-dark-rgb: 80,86,161;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #464c8e;
  --ion-color-dark-tint: #6267aa;

  --ion-color-medium: #C5CBE3;
  --ion-color-medium-rgb: 197,203,227;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #adb3c8;
  --ion-color-medium-tint: #cbd0e6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
//:root {
//  /** primary **/
//  --ion-color-primary: #3880ff;
//  --ion-color-primary-rgb: 56, 128, 255;
//  --ion-color-primary-contrast: #ffffff;
//  --ion-color-primary-contrast-rgb: 255, 255, 255;
//  --ion-color-primary-shade: #3171e0;
//  --ion-color-primary-tint: #4c8dff;
//
//  /** secondary **/
//  --ion-color-secondary: #0cd1e8;
//  --ion-color-secondary-rgb: 12, 209, 232;
//  --ion-color-secondary-contrast: #ffffff;
//  --ion-color-secondary-contrast-rgb: 255, 255, 255;
//  --ion-color-secondary-shade: #0bb8cc;
//  --ion-color-secondary-tint: #24d6ea;
//
//  /** tertiary **/
//  --ion-color-tertiary: #7044ff;
//  --ion-color-tertiary-rgb: 112, 68, 255;
//  --ion-color-tertiary-contrast: #ffffff;
//  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//  --ion-color-tertiary-shade: #633ce0;
//  --ion-color-tertiary-tint: #7e57ff;
//
//  /** success **/
//  --ion-color-success: #10dc60;
//  --ion-color-success-rgb: 16, 220, 96;
//  --ion-color-success-contrast: #ffffff;
//  --ion-color-success-contrast-rgb: 255, 255, 255;
//  --ion-color-success-shade: #0ec254;
//  --ion-color-success-tint: #28e070;
//
//  /** warning **/
//  --ion-color-warning: #ffce00;
//  --ion-color-warning-rgb: 255, 206, 0;
//  --ion-color-warning-contrast: #ffffff;
//  --ion-color-warning-contrast-rgb: 255, 255, 255;
//  --ion-color-warning-shade: #e0b500;
//  --ion-color-warning-tint: #ffd31a;
//
//  /** danger **/
//  --ion-color-danger: #f04141;
//  --ion-color-danger-rgb: 245, 61, 61;
//  --ion-color-danger-contrast: #ffffff;
//  --ion-color-danger-contrast-rgb: 255, 255, 255;
//  --ion-color-danger-shade: #d33939;
//  --ion-color-danger-tint: #f25454;
//
//  /** dark **/
//  --ion-color-dark: #222428;
//  --ion-color-dark-rgb: 34, 34, 34;
//  --ion-color-dark-contrast: #ffffff;
//  --ion-color-dark-contrast-rgb: 255, 255, 255;
//  --ion-color-dark-shade: #1e2023;
//  --ion-color-dark-tint: #383a3e;
//
//  /** medium **/
//  --ion-color-medium: #989aa2;
//  --ion-color-medium-rgb: 152, 154, 162;
//  --ion-color-medium-contrast: #ffffff;
//  --ion-color-medium-contrast-rgb: 255, 255, 255;
//  --ion-color-medium-shade: #86888f;
//  --ion-color-medium-tint: #a2a4ab;
//
//  /** light **/
//  --ion-color-light: #f4f5f8;
//  --ion-color-light-rgb: 244, 244, 244;
//  --ion-color-light-contrast: #000000;
//  --ion-color-light-contrast-rgb: 0, 0, 0;
//  --ion-color-light-shade: #d7d8da;
//  --ion-color-light-tint: #f5f6f9;
//
//  ///** white **/
//  //--ion-color-white: #ffffff;
//  //--ion-color-white-rgb: 255,255,255;
//  //--ion-color-white-contrast: #000000;
//  //--ion-color-white-contrast-rgb: 0,0,0;
//  //--ion-color-white-shade: #e0e0e0;
//  //--ion-color-white-tint: #ffffff;
//  //
//  ///** yellow **/
//  //--ion-color-yellow: #ffff00;
//  //--ion-color-yellow-rgb: 255,255,0;
//  //--ion-color-yellow-contrast: #000000;
//  //--ion-color-yellow-contrast-rgb: 0,0,0;
//  //--ion-color-yellow-shade: #e0e000;
//  //--ion-color-yellow-tint: #ffff1a;
//  //
//  ///** blue **/
//  //--ion-color-blue: #0000ff;
//  //--ion-color-blue-rgb: 0,0,255;
//  //--ion-color-blue-contrast: #ffffff;
//  //--ion-color-blue-contrast-rgb: 255,255,255;
//  //--ion-color-blue-shade: #0000e0;
//  //--ion-color-blue-tint: #1a1aff;
//  //
//  ///** green **/
//  //--ion-color-green: #00ff00;
//  //--ion-color-green-rgb: 0,255,0;
//  //--ion-color-green-contrast: #000000;
//  //--ion-color-green-contrast-rgb: 0,0,0;
//  //--ion-color-green-shade: #00e000;
//  //--ion-color-green-tint: #1aff1a;
//  //
//  ///** red **/
//  //--ion-color-red: #ff0000;
//  //--ion-color-red-rgb: 255,0,0;
//  //--ion-color-red-contrast: #ffffff;
//  //--ion-color-red-contrast-rgb: 255,255,255;
//  //--ion-color-red-shade: #e00000;
//  //--ion-color-red-tint: #ff1a1a;
//  //
//  ///** orange **/
//  //--ion-color-orange: #ffa500;
//  //--ion-color-orange-rgb: 255,165,0;
//  //--ion-color-orange-contrast: #000000;
//  //--ion-color-orange-contrast-rgb: 0,0,0;
//  //--ion-color-orange-shade: #e09100;
//  //--ion-color-orange-tint: #ffae1a;
//
//}
