<app-header></app-header>

<ion-content color="light">
    asdfasd
    f
    asdf
    as
    df
    asdf
    a
    sdf
    asdfasdf
<!--    <app-introduction-card></app-introduction-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
<!--    <app-solutions-card></app-solutions-card>-->
</ion-content>


