<ion-card>
  <ion-card-header>
    <!--            <ion-card-subtitle>Objetivo</ion-card-subtitle>-->
    <ion-card-title>Soluciones avanzadas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>Soluciones para speedcubing</p>

    <div class="buttons">
      <ion-button [routerLink]="'solutions/f2l'">F2L</ion-button>
      <ion-button [routerLink]="'solutions/oll'">OLL</ion-button>
      <ion-button [routerLink]="'solutions/pll'">PLL</ion-button>
    </div>

  </ion-card-content>

</ion-card>
