.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;

  ion-item {
    ion-label {
      h2 {
        //color: var(--ion-color-tertiary);
      }
      p {
        white-space: pre-wrap;
      }
    }
  }
}
