<!--<ion-list>-->
<!--    <ion-item>-->
        <app-cube></app-cube>
<!--    </ion-item>-->
<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-cube></app-cube>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-cube></app-cube>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-cube></app-cube>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;    <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-cube></app-cube>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-item>&ndash;&gt;-->
<!--</ion-list>-->
