<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Secciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/" (click)="onClick()">Inicio</ion-item>
      <ion-item routerLink="/play" (click)="onClick()">Jugar</ion-item>
      <ion-item routerLink="/solutions" (click)="onClick()">Soluciones</ion-item>
      <ion-item routerLink="/settings" (click)="onClick()">Ajustes</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


