<div class="icon-container">
    <ion-button color="white">
        <ion-icon name="skip-backward"></ion-icon>
    </ion-button>
    <ion-button (click)="pauseSolution()" color="white">
        <ion-icon name="pause"></ion-icon>
    </ion-button>
    <ion-button (click)="playSolution()" color="white">
        <ion-icon name="play"></ion-icon>
    </ion-button>
    <ion-button (click)="playNextMove()" color="white">
        <ion-icon name="skip-forward"></ion-icon>
    </ion-button>

</div>

<div class="text-container">
    <p>
        <span>(R U' R' U) y'</span>
        <span>(R' U2 R U' U') (R' U R)</span>
    </p>
</div>


