:host {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 2rem;
    padding: 2rem 1rem 1rem 1rem;
  }

  .text-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 1rem 2rem 1rem;

    p span {
      display: block;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }

  //@media (orientation: landscape) {
  //  flex-direction: row;
  //}
}

