:host {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .left-index-finger {
    color: cornflowerblue;
  }

  .right-thumb {
    color: red;
  }

  .right-ring-finger {
    color: darkorange;
  }

  .icon-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 1.5rem 1rem 0.5rem 1rem;
  }

  .text-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5rem 1rem 1.5rem 1rem;

    .solution-container {
      display: block;

      p {
        display: block;
        white-space: pre-line;
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;

        span.active {
          color: greenyellow;
        }
      }
    }
  }

}

