<div class="icon-container">
    <ion-button [disabled]="currentMove !== undefined" (click)="playPreviousMove()" color="white">
        <!--        <ion-icon name="skip-backward"></ion-icon>-->
        <ion-icon name="undo"></ion-icon>
    </ion-button>
    <ng-container *ngIf="!isFinished">
        <ion-button *ngIf="isSolutionClicked" (click)="pauseSolution()"
                    color="white">
            <ion-icon name="pause"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!isSolutionClicked" [disabled]="currentMove !== undefined" (click)="playSolution()"
                    color="white">
            <ion-icon name="play"></ion-icon>
        </ion-button>
    </ng-container>

    <ion-button *ngIf="isFinished" [disabled]="currentMove !== undefined" (click)="resetSolution()" color="white">
        <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button [disabled]="currentMove !== undefined" (click)="playNextMove()" color="white">
        <!--        <ion-icon name="skip-forward"></ion-icon>-->
        <ion-icon name="redo"></ion-icon>
    </ion-button>


</div>

<!--<div class="text-container">-->
<!--    <div class="solution-container">-->
<!--        <p>(R U' R' U) y'</p>-->
<!--        <p>(R' U2 R <span class="right-thumb">U'</span><span class="left-index-finger"> U'</span>) (R' U R)</p>-->
<!--    </div>-->
<!--</div>-->

<div class="text-container">
    <div class="solution-container">
        <p>
            <span *ngFor="let solutionStep of solution; let i = index"
                  [class.active]="currentMove !== undefined && solutionStep.active"
                  [ngClass]="solutionStep.class">{{solutionStep.text}}</span>
        </p>
    </div>
</div>


